body {
  text-align: center;
  background: blueviolet;
}

h1,
label {
  color: white;
}

.square {
  display: inline-block;
  text-align: center;
  font-size: 35px;
  padding: 40px;
  margin: 5px;
  width: 50px;
  background: lightgray;
  color: lightgray;
  cursor: pointer;
}

.player,
.winner {
  font-size: 30px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: white;
  cursor: pointer;
}
